*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Fredoka, sans-serif;
}
header{
    color: rgb(228, 33, 95);
    text-align: center;
}

.container{
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
}
.item{
    color: white;
    width: calc(100*3);
    background-color: black;

}